﻿<script type="text/template" id="JavascriptHtmlDumper">
    #/* Params: containsTrace, expandable */#
    <div class="javascript-html-header">
        # if (expandable) { #<nav /># } #<span class="outline" />
    </div>
    <div class="javascript-html-dump" />
    # if (containsTrace) { #
    <div class="javascript-html-called-from-header">
        <nav /><span class="outline" />
    </div>
    # } else { #
    <div class="javascript-html-called-from-header" />
    # } #
    <div class="javascript-html-called-from" />
</script>

<script type="text/template" id="AbortDepth">
    #/* Params: node */#
    <span class="content">** MAX DEPTH EXCEEDED **</span>
    <span class="info">( Depth: #: node.getDepth() # )</span>
</script>

<script type="text/template" id="Unknown">
    #/* Params: node */#
    <span class="content">** UNKNOWN TYPE **</span>
    <span class="info">( Type: #: node.getType() # )</span>
</script>

<script type="text/template" id="Primitive">
    #/* Params: node, shortForm */#
    # var nodeType = node.getType().toLowerCase();
    if (!shortForm) { #
    <span class="type">#: nodeType #</span>:&nbsp;
    # } #
    <span class="content #= nodeType #">
        # if (nodeType === "string") {
            #"#~ node.getValue() #"#
        } else if ((nodeType === "double") && (typeof node.getValue() === "number")) {
            var content = String(node.getValue());
            if (content.indexOf(".") === -1) content += ".0";
            /*:*/ $templateOutput += $htmlEncode(content, false);
        } else if (nodeType === "boolean") {
            if (node.getValue()) {
                /*=*/ $templateOutput += "true";
            } else {
                /*=*/ $templateOutput += "false";
            }
        } else { //Integer
            /*:*/ $templateOutput += $htmlEncode(String(node.getValue()), false);
        }#
    </span>
</script>

<script type="text/template" id="StackTrace">
    #/* Params: elements */#
    <dl>
        # for (var key in elements) {
        var callFrame = elements[+key] #
        <dt>
            <nav />#/* OnClick is added */#
            <span class="outline">#= callFrame.getOutline() #</span>
        </dt>
        <dd>
            #/* insert callFrame content */#
        </dd>
        # } #
    </dl>
</script>
