﻿<script type="text/template" id="TabList">
    #/* Params: tabs */#
    <ul class="header">
        # for (var key in tabs) { #
        <li>#= tabs[+key] #</li>
        # } #
    </ul>
    <ul class="content">
        # for (var key in tabs) { #
        <li>#/* add Tabcontent */#</li>
        # } #
    </ul>
</script>

<script type="text/template" id="ArrayElements">
    #/* Params: elements, isComplex, elementReferences */#
    <dl>
        # for (var key in elements) {
        key = +key;
        var arrayElement = elements[key] #
        <dt>
            #/* Classes will be copied */#
            # if (isComplex(arrayElement.getValue())) { #
            <nav />#/* OnClick is added */#
            <span class="term">#/* insert key content */#</span>
            # if (arrayElement.getValue().getType() !== null) { #
            <span>&nbsp;=>&nbsp;</span>#
            if (arrayElement.getValue().getOutline() !== null) {
            #<span class="outline">#= arrayElement.getValue().getOutline() #</span>#
            } else {
            #<span class="type">#: arrayElement.getValue().getType() #</span><span>&nbsp;(#: arrayElement.getValue().getElements().length #)</span>#
            } #
            # } #
            # if (arrayElement.getValue().getId() !== null) { #
            <span class="id" title="Internal ID #= arrayElement.getValue().getId() #">#: arrayElement.getValue().getId() #</span>#/* OnClick added if duplicate */#
            # } #
            # } else { #
            <span class="term">#/* insert key content */#</span>
            <span>&nbsp;=>&nbsp;</span>
            <span class="definition">#/* insert value content */#</span>
            # } #
        </dt>
        <dd class="#
        /*=*/ $templateOutput += (arrayElement.getValue().getId() in elementReferences) ? 'duplicate ' : '';
        /*=*/ $templateOutput += !isComplex(arrayElement.getValue()) ? ' inline ' : ''; #">
            #/* insert value content */#
        </dd>
        # } #
    </dl>
</script>

<script type="text/template" id="ObjectProperties">
    #/* Params: properties, isComplex, elementReferences, declaringClass */#
    <dl>
        # for (var key in properties) {
        key = +key;
        var property = properties[key] #
        <dt>#/* Classes will be copied */#
            # if (isComplex(property.getValue())) { #
            <nav />#/* OnClick is added */#
            <span class="modifier"># /*=*/ if (property.getIsStatic()) {$templateOutput+="static "} $templateOutput+=property.getVisibility() #</span>
            <span class="name">#: property.getName() #</span>
            # if (property.getValue().getType() !== null) { #
            <span>&nbsp;->&nbsp;</span>#
            if (property.getValue().getOutline() !== null) {
            #<span class="outline">#= property.getValue().getOutline() #</span>#
            } else {
            #<span class="type">#: property.getValue().getType() #</span><span>&nbsp;(#: property.getValue().getElements().length #)</span>#
            } #
            # } #
            # if (property.getValue().getId() !== null) { #
            <span class="id" title="Internal ID #= property.getValue().getId() #">#: property.getValue().getId() #</span>#/* OnClick added if duplicate */#
            # } #
            # } else { #
            <span class="term">
                <span class="modifier"># /*=*/ if (property.getIsStatic()) {$templateOutput+="static "} $templateOutput+=property.getVisibility() #</span>
                <span class="name" title="#= (property.getDeclaringClass() !== null) && (property.getDeclaringClass() !== declaringClass)
                     ? 'Inherited from ' + property.getDeclaringClass() : '' #">#: property.getName() #</span>
            </span>
            <span>&nbsp;->&nbsp;</span>
            <span class="definition">#/* insert value content */#</span>
            # } #
        </dt>
        <dd class="#
        /*=*/ $templateOutput += (property.getValue().getId() in elementReferences) ? 'duplicate ' : '';
        /*=*/ $templateOutput += !isComplex(property.getValue()) ? ' inline ' : '';
        /*=*/ $templateOutput += property.getIsStatic() ? 'static ' : '';
        /*=*/ $templateOutput += property.getVisibility() + ' ';
        /*=*/ $templateOutput += (property.getDeclaringClass() !== null) && (property.getDeclaringClass() !== declaringClass) ?
                'inherited ' : ''; #">
            #/* insert value content */#
        </dd>
        # } #
    </dl>
</script>
