﻿div.nunzion-php-dump-wait-modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) 50% 50% no-repeat; }

.nunzion-php-dump {
  clear: both;
  float: left;
  min-width: 100%;
  margin: 0 0 10px; }
  .nunzion-php-dump * {
    float: none;
    padding: 0;
    margin: 0;
    border: 0 solid black;
    display: normal;
    color: black;
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6em;
    white-space: nowrap;
    text-align: left;
    clear: both;
    text-indent: 0; }
  .nunzion-php-dump .data {
    display: none; }
  .nunzion-php-dump div.javascript-html-header {
    border: 1px solid #b6cedb;
    font-weight: bold; }
    .nunzion-php-dump div.javascript-html-header.simpleNode {
      padding-left: 0.2em; }
    .nunzion-php-dump div.javascript-html-header.markedDuplicate {
      border-top: 1px solid #800000;
      border-left: 2px solid #800000;
      border-right: 2px solid #800000; }
  .nunzion-php-dump div.javascript-html-called-from-header {
    padding-top: 5px;
    font-size: 11px;
    line-height: 1.2em;
    border-left: 1px dashed #b6cedb;
    border-right: 1px dashed #b6cedb;
    border-bottom: 1px dashed #b6cedb; }
    .nunzion-php-dump div.javascript-html-called-from-header span {
      font-size: 11px; }
    .nunzion-php-dump div.javascript-html-called-from-header.show {
      border-right: 1px solid #b6cedb;
      border-bottom: 1px solid #b6cedb; }
    .nunzion-php-dump div.javascript-html-called-from-header nav {
      height: 13px;
      width: 13px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAANAQMAAACNV+yuAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH3wYbChkt9KxR3wAAAAZQTFRF////ADmXNS1YIwAAAAJ0Uk5TAEwJ+cCDAAAAAWJLR0QAiAUdSAAAACBJREFUCNdj+P///wGGBh4GBwjRhErMP1ODIYZQDNILAENTEab6GmmQAAAAAElFTkSuQmCC"); }
    .nunzion-php-dump div.javascript-html-called-from-header.markedDuplicate {
      border-top: 1px solid #800000;
      border-left: 2px solid #800000;
      border-right: 2px solid #800000; }
  .nunzion-php-dump div.javascript-html-called-from {
    border-left: 1px dashed #b6cedb; }
    .nunzion-php-dump div.javascript-html-called-from.markedDuplicate {
      border-bottom: 1px solid #800000;
      border-left: 2px solid #800000;
      border-right: 2px solid #800000; }
  .nunzion-php-dump div.javascript-html-called-from-header, .nunzion-php-dump div.javascript-html-called-from {
    font-weight: bold; }
    .nunzion-php-dump div.javascript-html-called-from-header:empty, .nunzion-php-dump div.javascript-html-called-from:empty {
      display: none;
      border: none; }
  .nunzion-php-dump div.javascript-html-dump {
    border-left: 1px solid #b6cedb; }
    .nunzion-php-dump div.javascript-html-dump.simpleNode {
      border-bottom: 1px solid #b6cedb;
      border-right: 1px solid #b6cedb; }
    .nunzion-php-dump div.javascript-html-dump.markedDuplicate {
      border-bottom: 1px solid #800000;
      border-left: 2px solid #800000;
      border-right: 2px solid #800000; }
  .nunzion-php-dump nav {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 0.2em;
    margin-right: 0.4em;
    vertical-align: middle;
    cursor: pointer;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPAQMAAADJdO3fAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAB3RJTUUH3wYbChkkjXDpewAAAAZQTFRF////AAAAVcLTfgAAAAF0Uk5TAEDm2GYAAAABYktHRACIBR1IAAAAIUlEQVQI12P4////H4YGZgYWJKIRleh/zN+CLoamA2QKAG2dEFL4kmndAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-position: left; }
    .nunzion-php-dump nav.open {
      background-position: right; }
  .nunzion-php-dump .primitive span.type {
    color: #39AB66;
    font-style: italic; }
  .nunzion-php-dump .primitive span.content {
    font-weight: normal; }
    .nunzion-php-dump .primitive span.content.string {
      color: #ff4747;
      text-indent: -1.1ex;
      margin-left: 1.1ex;
      display: inline-block; }
      .nunzion-php-dump .primitive span.content.string.unquoted {
        color: #6C3055;
        text-indent: 0;
        margin-left: 0; }
    .nunzion-php-dump .primitive span.content.integer, .nunzion-php-dump .primitive span.content.double {
      color: #ff00ff; }
    .nunzion-php-dump .primitive span.content.boolean, .nunzion-php-dump .primitive span.content.null {
      color: #0000ff; }
  .nunzion-php-dump .unknown span.content, .nunzion-php-dump .abortDepth span.content {
    color: #FF7700; }
  .nunzion-php-dump .unknown span.info, .nunzion-php-dump .abortDepth span.info {
    color: black;
    margin-left: 1.1ex;
    font-style: normal; }
  .nunzion-php-dump span.name {
    color: #40720B;
    font-weight: bold;
    font-style: italic;
    margin-left: 0.4em; }
  .nunzion-php-dump span.modifier {
    color: #0000ff;
    font-style: italic; }
  .nunzion-php-dump span.type {
    color: #1BC0AC;
    font-weight: bold;
    font-style: italic; }
  .nunzion-php-dump span.id {
    margin-left: 1.5em;
    color: #c5d2e7;
    font-weight: bold;
    border-width: 0;
    margin-right: 1em; }
  .nunzion-php-dump span.outline span:hover span.mouseoverGreyed {
    display: inline; }
  .nunzion-php-dump span.outline span.string {
    color: #ff4747;
    text-indent: -1.1ex;
    margin-left: 1.1ex;
    display: inline-block; }
    .nunzion-php-dump span.outline span.string.unquoted {
      color: #6C3055;
      text-indent: 0;
      margin-left: 0; }
  .nunzion-php-dump span.outline span.integer, .nunzion-php-dump span.outline span.double {
    color: #ff00ff; }
  .nunzion-php-dump span.outline span.boolean, .nunzion-php-dump span.outline span.null {
    color: #0000ff; }
  .nunzion-php-dump span.outline span.unknown, .nunzion-php-dump span.outline span.abortDepth {
    color: black;
    margin-left: 1.1ex;
    font-style: normal; }
  .nunzion-php-dump span.outline span.reservedWord {
    color: #0000ff; }
  .nunzion-php-dump span.outline span.function {
    color: #3e8f56; }
  .nunzion-php-dump span.outline span.calledFrom {
    color: #b3c4e0; }
  .nunzion-php-dump span.outline span.mouseoverGreyed {
    display: none;
    font: inherit;
    color: #b3c4e0; }
  .nunzion-php-dump span.outline span.tripleDot {
    color: #b3c4e0; }
  .nunzion-php-dump ul.header {
    background: -webkit-linear-gradient(top, #c4e0ef 0, #d3e8f3 100%);
    background: -moz-linear-gradient(top, #c4e0ef 0, #d3e8f3 100%);
    background: -o-linear-gradient(top, #c4e0ef 0, #d3e8f3 100%);
    background: linear-gradient(to bottom, #c4e0ef 0, #d3e8f3 100%);
    margin-left: 1.4em;
    padding-left: 0.4em; }
    .nunzion-php-dump ul.header li {
      display: inline;
      background: -webkit-linear-gradient(top, #9ccbe3 0, #b5d8ea 100%);
      background: -moz-linear-gradient(top, #9ccbe3 0, #b5d8ea 100%);
      background: -o-linear-gradient(top, #9ccbe3 0, #b5d8ea 100%);
      background: linear-gradient(to bottom, #9ccbe3 0, #b5d8ea 100%);
      padding: 0 0.1em;
      margin: 0 0.1em;
      font-weight: bold;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .nunzion-php-dump ul.header li.active {
        background: -webkit-linear-gradient(top, #5da9d2 0, #84bedd 100%);
        background: -moz-linear-gradient(top, #5da9d2 0, #84bedd 100%);
        background: -o-linear-gradient(top, #5da9d2 0, #84bedd 100%);
        background: linear-gradient(to bottom, #5da9d2 0, #84bedd 100%); }
  .nunzion-php-dump ul.content li {
    list-style: none outside none; }
  .nunzion-php-dump dl {
    padding: 0 0 0 1.4em;
    border-bottom: 1px solid #b6cedb; }
    .nunzion-php-dump dl li dl {
      border-bottom: 0; }
      .nunzion-php-dump dl li dl dt, .nunzion-php-dump dl li dl dd {
        border-right: 0; }
    .nunzion-php-dump dl dt {
      border-left: 1px solid #b6cedb;
      border-bottom: 1px solid #b6cedb;
      border-right: 1px solid #b6cedb;
      list-style: none outside none;
      font-weight: bold; }
      .nunzion-php-dump dl dt.inline {
        padding-left: 1.6em; }
        .nunzion-php-dump dl dt.inline span.term {
          margin-left: 2px; }
      .nunzion-php-dump dl dt.duplicate span.id {
        border-bottom: 1px dotted #800000;
        color: #800000;
        cursor: pointer; }
        .nunzion-php-dump dl dt.duplicate span.id:hover {
          border-bottom: 1px double #800000; }
      .nunzion-php-dump dl dt.markedDuplicate {
        border-top: 1px solid #800000;
        border-left: 2px solid #800000;
        border-right: 2px solid #800000; }
    .nunzion-php-dump dl dd {
      display: block;
      font-weight: bold;
      list-style: none outside none;
      width: auto;
      border-bottom: 1px solid #b6cedb;
      border-right: 1px solid #b6cedb;
      border-left: 1px dashed #b6cedb; }
      .nunzion-php-dump dl dd:empty, .nunzion-php-dump dl dd.inline {
        display: none; }
      .nunzion-php-dump dl dd.markedDuplicate {
        border-bottom-color: #800000;
        border-right: 2px solid #800000;
        border-left: 2px dashed #800000; }

/*# sourceMappingURL=default.css.map */